%html
  %head
    %title Blue Apron
    %link{ :href => "/css/blue_apron.css", :type => "text/css", :rel => "stylesheet" }
  %body
    .container
      .header
        %img{src: 'images/blue_apron.png', class:'icon'}
      .first_part
        .tips
          .tech
            Tips & Techniques
          .article
            .article_title
              Neque Porro Quisquam Cras
            .article_pic
              %img{src:'images/tomatoes.jpg', class:'icon2'}
            .pic_description
              Maecenas non cursus libero. Aliquam tortor lectus, tempus id ullamcorper sed, eleifend nec mauris. Aenean ut lacus bibendum, tincidunt odio sed, rutrum turpis.In id odio augue. Ut et posuere erat. Phasellus consequat vitae orci quis faucibus. Vivamus tellus est, efficitur non sem a, dignissim rhoncus turpis. ac turpis egestas.
              %br
              %br
              Donec bibendum viverra molestie. Aenean est dolor, mattis non mauris eget, dictum venenatis mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut non facilisis urna. Morbi faucienim nec ipsum. Aenean condimentum massa vitae.
              .read_more
                Read more ►

          .more_articles
            .first
              .pic
                %img{src:'images/fruit_salad.jpg', class: 'article_small_pic'}
              .title
                .type
                  video:
                .type_desc
                  .type_desc_text
                    Noeque Porro Quisquam Cras
            .second
              .pic
                %img{src:'images/chefs.jpg', class: 'article_small_pic'}
              .title
                .type
                  video:
                .type_desc
                  .type_desc_text
                    Phasellus nec Viverra Nulla Sapien Elit
            .third
              .pic
                %img{src:'images/dog.jpg', class: 'article_small_pic'}
              .title
                .type
                .type_desc
                  .type_desc_text
                    Donec Nec Diam Etiam
            .fourth
              .pic
                %img{src:'images/flower.jpg', class: 'article_small_pic'}
              .title
                .type
                  video:
                .type_desc
                  .type_desc_text
                    Vestibulum Maximus Nunc ac Nisi Leo
            .button_sect
              .more_tips
                more tips
              .more_desc
                Etiam ac enim at mauris bibtru vestibulum ac leo sit

      .instructions
        .top_bar
          .instruct
            Instructions
          .views
            .list_view
              List View
            .slide_view
              Slideshow View
        .instruct_pic
          .cooking
            %img{src:'images/cooking.jpg', class: 'cooking'}
        .directions
          .step
            1
          .step_direction
            Omniu Mutantur Nihil Interit
          .whole_bar
            .progress_bar_start
            .progress_bar
            .progress_bar
            .progress_bar
            .progress_bar_end
          .what_to
            Vestibulum mauris ex, ornare in tempor at, tristique id orci. Maecenas auctor eu orci eu elementum. Integer cursus magna mauris, nec auctor odio porttitor non. Mauris id dolor diam. Aliquam rutrum commondo auctor. Donec nec diam ex. Nunc commodo auctor mollis. Etiam tempor auctor ante ac ullamcorper. Ut congue, neque et elefend faucibus, sem lorem condimentum ligula, quis commodo libero mauris in ipsum. Ut lobortis leo in odio luctus interdum. In condimentum eros nisi, sit amet elementum tellus accumsan sed. Pellentesque nisl ante, blandit sollicitn.
          .buttons
            .prev_button
              Prev
            .next_button
              Next
